<div class="container">

  <div class="jumbotron">
    <h1>CSV Charts</h1>
    <p>
      Choose a CSV file.
    </p>
      <form class="form">
        <input name="file" type="file" on-file-upload="onFileUpload($fileContent)" />
      </form>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-hover">
        <tr ng-repeat="row in vm.fileContent">
          <td ng-repeat="cell in row track by $index">
            {{cell}}
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
